.header{
  &__navigation{
    display: block;
    position: relative;
    float: left;
    width: calc(100% - (220px + 220px + 40px + 84px));
    padding-left: 22px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 1224px){
      width: calc(100% - (220px + 23px));
    }
  }
  &__menu{
    //@include display-flex(flex);
    //@include flex-wrap(wrap);
    //@include flex-direction(row);
    //@include justify-content(center);
    position: relative;
    float: left;
    width: 100%;
    margin: 0;
    margin-top: 32px;
    padding: 0;
    list-style: none;
    @include breakpoint(max-width 1300px){
      margin-top: 36px;
    }
    @include breakpoint(max-width 1024px) {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      overflow: scroll;
      float: left;
      padding-top: 36px;
      @include box-sizing(border-box);
      left: 0;
      margin-top: 0;
      margin-left: 0;
      z-index: 4;
      top: 0;
      margin-bottom: 24px;
      background: rgba(0, 0, 0, .9);
    }
    > li{
      //position: relative;
      //float: left;
      @include breakpoint(max-width 1024px){
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        margin: 15px 0;
      }
      > a{
        display: block;
        position: relative;
        float: left;
        //width: 100%;
        margin: 0 20px;
        //padding: 0 20px;
        @include box-sizing(border-box);
        color: #323232;
        font-family: $PFBeauSansProReg;
        font-size: 17px;
        text-transform: uppercase;
        @include breakpoint(max-width 1400px){
          font-size: 14px;
        }
        @include breakpoint(max-width 1400px){
          font-size: 12px;
        }
        @include breakpoint(max-width 1024px){
          width: 100%;
          text-align: center;
          color: #fff;
          margin: 0;
        }
        &:hover{
          color: #e23f5e;
          &:after{
            display: block;
            position: absolute;
            content: '';
            width: 100%;
            height: 3px;
            left: 0;
            bottom: -35px;
            background-color: #e23f5e;
            @include breakpoint(max-width 1024px){
              display: none;
            }
          }
        }
      }
    }
    .mobile-submenu{
      display: none;
      position: absolute;
      width: 24px;
      height: 17px;
      top: -2px;
      right: 0;
      padding: 0 30px;
      cursor: pointer;
      .fa-chevron-down{
        font-size: 15px;
        color: #fff;
      }
      @include breakpoint(max-width 1024px){
        display: block;
      }
    }
  }
  &__submenu{
    display: none;
    position: absolute;
    width: calc(100% + 564px);
    left: -220px;
    top: 55px;
    padding-top: 50px;
    padding-bottom: 80px;
    padding-left: 25px;
    padding-right: 25px;
    @include box-sizing(border-box);
    background-color: #363636;
    @include breakpoint(max-width 1280px){
      top: 50px;
    }
    @include breakpoint(max-width 1024px){
      position: relative;
      float: left;
      width: 100%;
      left: 0;
      top: 0;
      margin-top: 10px;
      padding: 10px;
    }
    &--close{
      display: block;
      position: absolute;
      content: '';
      top: 30px;
      right: 33px;
      width: 18px;
      height: 17px;
      cursor: pointer;
      background-image: url('../img/icons/close-icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 1;
      @include breakpoint(max-width 1024px){
        display: none;
      }
    }
    &--elements{
      //@include display-flex(flex);
      //@include flex-wrap(wrap);
      //@include flex-direction(column);
      //@include justify-content(flex-start);
      position: relative;
      float: left;
      width: calc(25% - (15px*2));
      margin-top: 0;
      margin-left: 15px;
      margin-right: 15px;
      padding: 0;
      list-style: none;
      @include breakpoint(max-width 1024px){
        width: 100%;
        margin: 0;
      }
      li{
        width: 100%;
        a{
          position: relative;
          float: left;
          //width: 100%;
          font-family: $PFBeauSansProReg;
          font-size: 18px;
          color: #ffffff;
          line-height: 40px;
          @include breakpoint(max-width 1280px){
            font-size: 12px;
          }
          @include breakpoint(max-width 1024px){
            width: 100%;
          }
          &:hover{
            color: #e23f5e;
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__trigger{
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 17px;
    right: 12px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
    z-index: 15;
    @include breakpoint(max-width 1024px) {
      display: block;
    }
    span, span:before, span:after {
      display: block;
      height: 2px;
      width: 18px;
      background-color: #222;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    span:before {
      transition: all 0.2s;
      margin-top: -6px;
      content: '';
    }
    span:after {
      transition: all 0.2s;
      margin-top: 4px;
      content: '';
    }
    &--active span {
      background-color: transparent;
      &:before {
        transform: rotate(135deg);
        margin-top: 0;
      }
      &:after {
        transform: rotate(-134deg);
        margin-top: 0;
      }
    }
  }
}
/*
.header__trigger {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  top: 232px;
  right: 12px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .4);
  z-index: 15;
  @include breakpoint(max-width 736px) {
    display: block;
  }
  span, span:before, span:after {
    display: block;
    height: 2px;
    width: 18px;
    background-color: #222;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
  }
  span:before {
    transition: all 0.2s;
    margin-top: -6px;
    content: '';
  }
  span:after {
    transition: all 0.2s;
    margin-top: 4px;
    content: '';
  }
  &--active span {
    background-color: transparent;
    &:before {
      transform: rotate(135deg);
      margin-top: 0;
    }
    &:after {
      transform: rotate(-134deg);
      margin-top: 0;
    }
  }
}*/
