.adv{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #f7f7f7;
  &:after{
    display: block;
    position: absolute;
    content: '';
    width: 80px;
    height: 2px;
    background-color: #ef4666;
    left: calc(50% - (80px/2));
    left: -moz-calc(50% - (80px/2));
    bottom: 0;
  }
  &__wrapper{
    //@include display-flex(flex);
    //@include flex-wrap(wrap);
    //@include flex-direction(row);
    //@include justify-content(space-around);
    //@include align-items(baseline);
    position: relative;
    float: left;
    width: 100%;
    margin-top: 52px;
    margin-bottom: 62px;
    @include breakpoint(max-width 660px){
      //@include flex-direction(column);
      //@include align-items(center);
    }
    &--element{
      //@include display-flex(flex);
      //@include flex-wrap(wrap);
      //@include flex-direction(column);
      //@include justify-content(center);
      //align-items: center;
      position: relative;
      float: left;
      width: 33%;
      @include breakpoint(max-width 660px){
        margin-bottom: 10px;
        width: 100%;
      }
      .icon{
        display: block;
        position: relative;
        float: left;
        width: 68px;
        height: 69px;
        margin-left: calc(50% - (68px/2));
        margin-left: -moz-calc(50% - (68px/2));
        margin-bottom: 37px;
        overflow: hidden;
        @include breakpoint(max-width 660px){
          margin-bottom: 10px;
        }
        img{
          size: 100%;
          object-fit: contain;
        }
      }
      .descr{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        //max-width: 208px;
        //margin-left: calc(50% - (208px/2));
        color: #4a4a4a;
        font-size: 19px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}