.calc {
  position: relative;
  float: left;
  width: 100%;
  background-color: #f7f7f7;

  &__title {
    position: relative;
    float: left;
    width: 100%;
    color: #494949;
    font-size: 24px;
    font-family: $PFBeauSansProReg;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 43px;
  }

  &__image {
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    //text-align: center;

    img {
      size: 100%;
      object-fit: contain;
    }
  }

  &__list {
    position: relative;
    float: left;
    width: 60%;
    padding: 0;
    margin-top: -320px;
    margin-left: 66px;
    list-style: none;

    @include breakpoint(max-width 770px) {
      width: 100%;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 0;
    }

    li {
      position: relative;
      float: left;
      width: 100%;
      background-color: #f7f7f7;
      padding-left: 29px;
      padding-right: 29px;
      @include box-sizing(border-box);

      span {
        position: relative;
        float: left;
        color: #494949;
        font-family: $PFBeauSansProReg;
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;

        @include breakpoint(max-width 660px) {
          font-size: 14px;
        }

        &:first-of-type {
          width: 70%;
        }

        &:last-of-type {
          width: 30%;
          text-align: left;
        }
      }
    }

    li:nth-of-type(odd) {
      background-color: #eeeeee;
    }

    li:last-of-type {
      background-color: #353535;

      span {
        color: #ffffff;
      }

    }

  }

  &__subtitle {
    position: relative;
    float: left;
    width: 100%;
    color: #494949;
    font-size: 24px;
    font-family: $PFBeauSansProReg;
    text-align: left;
    margin-top: 0;
    margin-bottom: 61px;
  }

  &__wrapper {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include justify-content(space-between);
    position: relative;
    float: left;
    width: 100%;

    &--item {
      position: relative;
      float: left;
      width: calc(50% - (56px / 2));
      width: -moz-calc(50% - (56px / 2));
      height: 112px;
      overflow: hidden;
      margin-bottom: 45px;

      @include breakpoint(max-width 660px) {
        width: 100%;
      }

      img {
        size: 100%;
        object-fit: contain;
      }

    }

  }

}