.clients {
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #fff;

  &__tabs {
    //@include display-flex(flex);
    //@include flex-wrap(wrap);
    //@include flex-direction(row);
    //@include justify-content(center);
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 78px;
    margin-bottom: 75px;
    padding: 0;
    list-style: none;

    @include breakpoint(max-width 660px) {
      margin-top: 30px;
      margin-bottom: 30px;
      @include flex-direction(column);
      align-items: center;
    }

    li {
      display: inline-block;
      position: relative;

      @include breakpoint(max-width 660px) {
        margin-bottom: 15px;
      }

      a {
        @include display-flex(flex);
        @include justify-content(center);
        @include align-items(center);
        position: relative;
        float: left;
        //width: 205px;
        //height: 56px;
        margin: 0 10px;
        padding: 19px 26px;
        @include box-sizing(border-box);
        border-radius: 30px;
        border: 1px solid #d5d5d5;
        color: #abaaaa;
        font-family: $PFDinTextCompProRegular;
        font-size: 17px;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
        box-shadow: 0px 0px 0px 1px transparent inset;

        &:hover {
          border: 1px solid #d71f42;
          box-shadow: 0px 0px 0px 1px #d71f42 inset;
          color: #d71f42;
        }
      }

      a.active {
        border: 1px solid #d71f42;
        box-shadow: 0px 0px 0px 1px #d71f42 inset;
        color: #d71f42;
      }
    }
  }
  &__wrapper {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    min-height: 394px;
    margin-bottom: 99px;
    padding: 0 30px;
    @include box-sizing(border-box);

    &--box {
      display: block;
      position: relative;
      float: left;
      width: 100%;
    }
  }
  &__items {
    @include display-flex(flex);
    @include flex-wrap(wrap);
    @include flex-direction(row);
    justify-content: space-between;
    position: relative;
    float: left;
    width: 100%;

    &--elements {
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(column);
      @include justify-content(center);
      position: relative;
      float: left;
      width: 100%;
    }

    &--element {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 170px;
      margin-bottom: 15px;
      overflow: hidden;

      @include breakpoint(max-width 660px) {
        width: 100%;
      }

      img {
        size: 100%;
        object-fit: contain;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity: 0.68;
        @include transition(0.4s);
      }
    }
    &--element:hover {

      img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        opacity: 1;
        @include transition(0.4s);
      }
    }

    .slick-arrow {
      width: 82px;
      height: 82px;
      border: 1px solid #e1e1e1;
      background-color: #fff;
      border-radius: 50%;
      z-index: 2;

      &:hover {
        box-shadow: 0 0 12px 0 #e23f5e;
      }
    }

    .slick-prev {
      left: -90px;

      &:before {
        position: absolute;
        content: ' ';
        width: 28px;
        height: 14px;
        //top: 32px;
        //left: 23px;
        margin-top: -7px;
        margin-left: -17px;
        background-image: url('../img/icons/go-top-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        opacity: 1;
        transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
      }
    }
    .slick-next {
      right: -90px;

      &:before {
        position: absolute;
        content: ' ';
        width: 28px;
        height: 14px;
        //top: 32px;
        //left: 29px;
        margin-top: -7px;
        margin-left: -10px;
        background-image: url('../img/icons/go-top-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        opacity: 1;
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
      }
    }
  }
}