.for{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  background-color: #ffffff;
  &__wrapper{
    //@include display-flex(flex);
    //@include flex-wrap(wrap);
    //@include flex-direction(row);
    //@include justify-content(space-around);
    position: relative;
    float: left;
    width: 100%;
    margin-top: 73px;
    margin-bottom: 124px;
    @include breakpoint(max-width 660px){
      margin-bottom: 30px;
    }
    &--element{
      //@include display-flex(flex);
      //@include flex-wrap(wrap);
      //@include flex-direction(column);
      //@include align-items(center);
      position: relative;
      float: left;
      width: 33%;
      @include breakpoint(max-width 660px){
        width: 100%;
        margin-bottom: 30px;
      }
      .icon{
        display: block;
        position: relative;
        float: left;
        width: 230px;
        height: 230px;
        margin-left: calc(50% - (230px/2));
        margin-left: -moz-calc(50% - (230px/2));
        margin-bottom: 57px;
        border-radius: 50%;
        overflow: hidden;
        @include breakpoint(max-width 660px){
          margin-bottom: 10px;
        }
        img{
          size: 100%;
          object-fit: contain;
        }
      }
      .descr{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin: 0;
        color: #4a4a4a;
        font-size: 19px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}