.top-slider {
  display: block;
  position: relative;
  float: left;
  width: 100%;

  &__wrapper {
    display: block;
    position: relative;
    float: left;
    width: 100%;

    &--slide {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      height: 586px;
      overflow: hidden;

      @include breakpoint(max-width 660px) {
        height: 400px;
      }

      img {
        size: 100%;
        object-fit: cover;
      }
    }

    .slick-dots {
      max-width: 1366px;
      margin-left: calc(50% - (1366px / 2));
      margin-left: -moz-calc(50% - (1366px / 2));
      text-align: left;
      bottom: 47px;

      @include breakpoint(max-width 1366px) {
        max-width: 1170px;
        margin-left: calc(50% - (1170px / 2));
        margin-left: -moz-calc(50% - (1170px / 2));
      }

      li {
        width: 15px;
        height: 15px;

        button {
          color: transparent;
          size: 100%;
          border-radius: 50%;
          border: none;
          padding: 0;
          background-color: #fff;

          &:before {
            content: '';
          }
        }
      }

      li.slick-active {

        button {
          background-color: #ef4666;

          &:before {
            content: '';
          }
        }

      }
    }

    .slick-prev {
      width: 54px;
      height: 54px;
      left: 0;
      z-index: 2;
      background-image: url('../img/icons/top-arr-left-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      color: transparent;

      &:before {
        content: '';
        display: none;
      }
    }

    .slick-next {
      width: 54px;
      height: 54px;
      right: 0;
      z-index: 2;
      background-image: url('../img/icons/top-arr-right-icon.png');
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      color: transparent;

      &:before {
        content: '';
        display: none;
      }
    }

    .slick-dotted.slick-slider {
      margin-bottom: 0 !important;
    }
  }

  &__descr {
    display: block;
    position: absolute;
    top: 0;
    margin-left: calc(50% - (1366px / 2));
    margin-left: -moz-calc(50% - (1366px / 2));
    max-width: 1366px;
    //z-index: 2;
    @include breakpoint(max-width 1366px) {
      max-width: 1170px;
      margin-left: calc(50% - (1170px / 2));
      margin-left: -moz-calc(50% - (1170px / 2));
    }

    @include breakpoint(max-width 1200px) {
      width: 100%;
      margin-left: 0;
      padding: 0 15px;
      @include box-sizing(border-box);
    }

    > h1 {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      margin-top: 223px;
      margin-bottom: 39px;
      color: #f7f7f7;
      font-family: $PFBeauSansProReg;
      font-size: 55px;
      line-height: 60px;

      @include breakpoint(max-width 660px) {
        margin-top: 52px;
        font-size: 30px;
        line-height: 29px;
      }
    }

    > p {
      display: block;
      position: relative;
      float: left;
      max-width: 439px;
      color: #ffffff;
      //font-family: $PFBeauSansProBook;
      font-size: 17px;
    }
    > a {
      display: block;
      position: relative;
      float: left;
      width: 219px;
      height: 56px;
      margin-left: 65px;
      border-radius: 27px;
      border: 1px solid #ffffff;
      padding-left: 37px;
      padding-top: 15px;
      @include box-sizing(border-box);
      color: #ffffff;
      font-family: $PFDinTextCompProRegular;
      font-size: 17px;
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 26px;
      .icon {
        display: block;
        position: relative;
        float: left;
        width: 8px;
        height: 15px;
        margin-right: 21px;
        margin-top: 4px;
        background-image: url('../img/icons/left-shevron-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        -webkit-animation-duration: 1s;
        -o-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-timing-function: ease-in-out;
        -o-animation-timing-function: ease-in-out;
        -moz-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
      }
    }
    > a:hover {
      .icon {
        animation-name: left;
        -webkit-animation-name: left;
        -o-animation-name: left;
        -moz-animation-name: left;
      }
    }
  }
}

@keyframes left {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0)
  }
  40% {
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    transform: translateX(-15px)
  }
  60% {
    -webkit-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateX(-10px)
  }
}